body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  .container {
    padding: 0 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: linen;
  
  }

  .ceo {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
  }

  .address{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
